body {
    background-color: #0a192f;
  }


.font-color {
  color: #e6f1ff;
}

.welcome-intro {
  color:#e6f1ff;
  font-size: 200%;
}

.welcome-text {
  color:#e6f1ff;
}

.font-headliner2 {
  color: #64ffda;
  font-size: 150%;
}
